$gap: 12px;

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #00000026;
  &.light {
    background-color: rgba(250, 250, 250, 0.66);
  }
  align-items: center;
  padding: 12px 1rem;

  & > * {
    display: flex;
    gap: $gap;
    // flex-direction: column;
  }

  .social {
    .social-content {
      display: flex;
      flex-direction: row;
      gap: $gap;

      .social-image {
        width: 20px;
        height: 20px;
        // filter: invert(1);
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .footer > * {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    justify-content: space-around;
    & > * {
      flex-direction: column;
    }
    .info,
    .social {
      font-size: 12px;
    }
  }
}
