<section class="footer">
  <div class="info">
    @for (item of items.info; track item.id) {
    <span class="font-semibold whitespace-nowrap text-white cursor-pointer">
      {{ item.content }}
    </span>
    }
  </div>
  <div class="social">
    @for (item of items.social; track item.id) {
    <div class="social-content">
      <span
        class="font-semibold whitespace-nowrap text-white cursor-pointer"
        (click)="navigate(item)"
        >{{ item.front_text }}</span
      >
      <img
        class="social-image cursor-pointer"
        [src]="item.image"
        [alt]="item.item"
        (click)="navigate(item)"
      />
    </div>
    }
  </div>
</section>
