.app-container {
  background-color: rgb(37, 37, 37);
  background-image: url("../assets/images/backgrounds/background.jpg");
  background-size: cover;
  transition: 1s linear background-image;
  .content {
    min-height: calc(100vh - 160px);
    overflow: auto;
  }
}
