.nav-background {
  background-color: #00000026;
  &.light {
    background-color: rgba(250, 250, 250, 0.66);
    & > * {
      color: black !important;
    }
  }
  position: sticky;
  z-index: 1;
  top: 0px;
}

.nav_item-camel {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.arq-name {
  font-family: "Futura";
}

@media screen and (max-width: 1024px) {
  .hide-first-mobile li:first-of-type {
    display: none;
  }
}
