<section>
  @for (content of project_content; track content.id) { @if (content.image_text)
  {
  <div class="gallery">
    @if(content.coverImage){
    <div
      [ngStyle]="{ width: content.width + 'pc', height: content.height + 'px' }"
      class="content"
    >
      <img
        class="h-full max-w-full"
        [src]="content.coverImage"
        [alt]="content.image_title"
      />
    </div>
    } @if(content.image_text){
    <span
      class="text"
      [ngStyle]="{
        width: 100 - (content.coverImage ? content.width : 0) + 'pc'
      }"
      [innerHTML]="content.image_text"
    >
    </span>
    }
  </div>
  } @else{
  <div class="content">
    <img
      class="h-full max-w-full"
      [src]="content.coverImage"
      [alt]="content.image_title"
    />
  </div>
  } }
</section>
